__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

*.toml
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.vscode/
.idea/

.DS_Store
Thumbs.db

lab3/tests/
lab3/tennis1.py
lab3/tennis2.py
lab3/tennis4.py
lab3/tennis6.py
